 .is-flex{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
} 

 
@media screen and (max-width: 768px){
    div.level-right.gamepage, div.level-left.gamepage{
       text-align: center;
       margin-top: 1.5rem;
    }
} 